.day-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;

    width: 160px;
    height: 168px;

    /* background: rgba(255, 255, 255, 0.25);
    border-radius: 16px; */



    flex: none;
    order: 0;
    flex-grow: 0;
}

.bg {
    padding: 16px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
}

form:first-child .change {
    padding: 16px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
}

.day-box {
    padding: 16px;
    cursor: pointer;
}

/* .day-box:focus {
    padding: 5px;
    background: rgba(255, 255, 255, 0.25);
    border: 0px;
} */

.day-name {
    width: 128px;
    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */

    display: flex;
    align-items: center;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.temp-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 128px;
    height: 32px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.d-n-frame {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 16px;

    width: 56px;
    height: 32px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.day-temp {
    width: 23px;
    height: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 135%;
    /* or 32px */

    display: flex;
    align-items: center;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.night-temp {
    width: 17px;
    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */

    display: flex;
    align-items: center;

    color: #FFFFFF;

    opacity: 0.5;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.icon {
    margin-top: -10%;
    margin-bottom: -10%;
    width: auto;
}